* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff5f9;
    height: 100%;
    color: #4a2d5e !important;

}

.to-do {
    margin-top: 5%;
    width: 50%;
    height: auto;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    box-shadow: 0 8px 32px rgba(110, 94, 255, 0.15);
    backdrop-filter: blur(10px);
    padding-bottom:  5%;
   
}

.to-do h1 {
    color: #6b2d5c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3%;
    padding-top: 5%;
}

.to-do .input {
    display: flex;
    justify-content: center;
    margin-inline: auto;
}

.to-do .input input {
    color: #4a2d5e;
    border: 0.5px solid;
    border-right: none;
    width: 70%;
    padding: 15px;
    font-size: 1.3rem;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;

}

.to-do .input input:focus {
     box-shadow: 1px 0.5px 3px #ff8ba7;
    border: none;
    outline: none;
}

.to-do .input i {
    background: #ffa8c5;
    border: 0.5px solid black;
    padding: 15px;
    font-size: 1.5rem;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-left: none;

}


.list{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    
    
}
.list ul{
    width: 100%;
}
.list ul .list-item{ 
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    margin-top: 20px;
    align-items: center;
    border-bottom: 2px solid black;
    
}
.list ul button{
    padding: 5px 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 0, 0, 0.78);
    border:1px solid black;
    margin-bottom: 5px;
   
}

.list ul li {
    list-style: none;
    font-size: 1.5rem; 
    text-transform:capitalize;
}

.list i {
    font-size: 1.5rem;
    padding: 5px;
  
}
@media (max-width:576px){
    .to-do{
        margin-top: 30%;
        width: 90%;
    }
    .to-do h1{
        font-size: 2rem;
    }
    .to-do .input input{
        padding: 7px;
        font-size: 1rem;
    }
    .to-do .input i{
        padding: 7px;
        font-size: 1.2rem;
    }
    .list li, .list .icon i{
        font-size: 1.3rem;
    }
    .list ul li{
        font-size:1rem;
}
@media (min-width:577px) and (max-width:992px){
     .to-do{
        margin-top: 20%;
width: 70%;
     }
      .to-do h1{
        font-size: 3.5rem;
    }
    .to-do .input input{
        padding: 10px;
        font-size: 1.2rem;
    }
    .to-do .input i{
        padding: 10px;
        font-size: 1.5rem;
    }
    .list li, .list .icon i{
        font-size: 1.5rem;
    }
}
@media (min-width:992px) and (max-width:1200px){
    .to-do{
        margin-top: 20%;
width: 70%;
     }

}
@media (min-width:1200px){
    .to-do{
        width:65% ;
    }

}

